* {
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: bisque;
}

#gameboard {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    height: auto;
}

button {
    width: 60px;
    cursor: pointer;
}

#controls {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.square {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(3n +1) {
    border-left: none;
}

.square:nth-child(3n +3) {
    border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
    border-bottom: none;
}

.popup {
    width: 400px;
    background-color: beige;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    font-size: 50px;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(98, 224, 67);
}